:root {
    --main-background: gray;
    --dark-background: #585858; /*color(gray blackness(+45%))*/;
    --dark-dark-background: #414141;  /*color(#585858 blackness(+95%));*/
    --main-border: 1px solid #585858;
    --light-background: #A7A7A7; /*color(gray whiteness(+45%))*/
    --main-font-color: black;
    /*--main-font-color-light: #222222;*/
    --error-color: #932621;
    --error-background: #935656;
    --error-border: 1px solid #932621;

    --small-font-size: 0.8rem;
}

body {
    background-color: black;
}
