/*@import "./variables.css";*/

html {
    font-size: 16px;
    font-family: Arial;
    color: black;
}

body {
    font-size: 1rem;
}

recipe-header, recipe-sidebar {
    --background: var(--main-background);
    --hover-button: var(--dark-background);
}

create-recipe-page {
    --border: var(--main-border);
    --background: var(--main-background);
    --dark-background-crp: var(--dark-background);
    --dark-dark-background-crp: var(--dark-dark-background);
    --light-background-crp: var(--light-background);
    --font-color: var(--main-font-color);

    --control-width: 10rem;
    --control-font-size: var(--small-font-size);

    --theme-border-radius: 0.2rem;

    /*for drop-down*/
    --drop-down-font-color: var(--main-font-color);
    --drop-down-bg: var(--light-background);
    --drop-down-outlined-color: var(--light-background);
    --drop-down-outlined-bg: var(--dark-background);

    /*for input-text*/
    --input-background: var(--light-background);
    --input-placeholder: var(--dark-background);
    --input-error-border: var(--error-border);
    --input-error-color: var(--error-color);

    /*for textarea*/
    --textarea-height: var(--card-width);

    /*for list-items*/
    --list-background: var(--dark-background);
    --list-font-color: var(--light-background);
    --list-font-size: var(--small-font-size);

    /*for tag*/
    --tag-background: var(--dark-background);
    --tag-font-color: var(--light-background);
    --tag-font-size: var(--small-font-size);
    --tag-shadow: var(--inset-shadow);

    /*for photo upload*/
    --image-border: 2px solid var(--dark-background);
    --image-width: var(--card-width);
    --overlay-label-bg: var(--light-background);
}

ingredients-page {
    --control-width: 10rem;
    --control-font-size: var(--small-font-size);

    /*for input-text*/
    --input-background: var(--light-background);
    --input-placeholder: var(--dark-background);

    /*for tag*/
    --tag-background: var(--dark-background);
    --tag-font-color: var(--light-background);
    --tag-font-size: var(--small-font-size);
    --tag-shadow: var(--inset-shadow);


}

recipe-page {
    /*for list-items*/
    --list-background: var(--light-background);
    --list-font-size: var(--small-font-size);

    /*for tag*/
    --tag-background: var(--dark-background);
    --tag-font-color: var(--light-background);
    --tag-font-size: var(--small-font-size);
    --tag-shadow: var(--inset-shadow);
}

common-notification {
    --notification-error-border: var(--error-border);
    --notification-error-color: var(--error-background);
}

/*create-recipe-page drop-down {*/
    /*--drop-down-font-color: var(--main-font-color);*/
    /*--drop-down-bg: var(--light-background);*/
    /*--drop-down-outlined-color: var(--light-background);*/
    /*--drop-down-outlined-bg: var(--dark-background);*/
/*}*/

/*create-recipe-page input-text {*/
    /*--input-background: var(--light-background);*/
    /*--input-placeholder: var(--dark-background);*/
/*}*/
