*.iml
app/target/
.idea/
database/db
!*/recept_plain.sql

front/fe/node_modules
front/fe/package-lock.json
front/fe/bin

front_vue/fe/node_modules
front_vue/fe/package-lock.json
front_vue/fe/bin

__snapshots__

tempfiles
foto