/* general */
html {
    font-size: 24px;
}

body {
    margin-top: 40px;
    margin-bottom: 40px;
}

table {
    margin: 20px auto;
}

td {
    vertical-align: middle;
}

input[type="file"] {
    display: none;
}

input, select {
    border: none;
    font-size: 0.8rem;
    width: 70%;
    padding: 4px 4px 4px 10px;
    font-weight: 600;
}

select > option {
    border: none;
    font-size: 0.8rem;
    width: 70%;
    padding: 4px 4px 4px 10px;
}

textarea {
    width: 100%;
    font-size: 0.8rem;
    line-height: 1rem;
    border: none;
    resize: none;
    box-sizing: border-box;
    height: 6rem;
    margin: 20px 0;
    padding: 10px;
}

textarea:focus, select:focus, input:focus {
    outline: none;
}

.root {
    width: 70%;
    margin: auto;
    height: auto;
    overflow: hidden;
    padding: 20px 0;
}

.content {
    padding-top: 20px;
}

/* main parts - grid */
.recept_menu, .recept_sidebar, .recept_content {
    float: left;
    box-sizing: border-box;
}

.recept_menu, .recept_sidebar {
    width: 20%;
    padding: 15px;
}

.recept_content {
    width: 60%;
}

/* common style */
.button {
    color: black;
    margin: 5px 0;
    width: 100%;
    font-size: 0.8rem;
    padding: 4px 7px;
    box-sizing: border-box;
    font-weight: 700;
    cursor: pointer;
    border: none;
}

.img {
    width: 100%;
}

.img_small {
    width: 80px;
}

/* menu and sidebar */
.input_sidebar {
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
    text-align: right;
    padding-right: 10px;
}

/* recept list */
.recept_item_from_list {
    width: 50%;
    margin: 30px auto;
}

.recept_name_from_list {
    text-align: center;
}

/* pages navigation */
.page_button {
    display: inline-block;
    font-size: 0.8rem;
    padding: 10px;
    cursor: pointer;
}

.pages {
    text-align: center;
    margin-top: 20px;
}

/* recept description */
.recept_description_name {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.recept_references {
    margin: 20px 0;
}

.recept_reference {
    cursor: pointer;
    text-decoration: underline;
}

/* recept edit */
.recept_edit {
    margin: 20px;
}

/* icons */
.icon_button {
    background-size: cover;
    width: 30px;
    height: 30px;
    margin: auto;
    cursor: pointer;
}

.icon_button_small {
    background-size: cover;
    width: 20px;
    height: 20px;
    margin: auto;
    cursor: pointer;
}

/* drop-down */
.drop-down {
    position: fixed;
    display: none;
    font-size: 0.7rem;
    opacity: 0.7;
    margin: 3px;
}

.drop-down > li {
    list-style-type: none;
    cursor: pointer;
    padding: 3px;
    text-align: right;
}


/* Large desktops and laptops */
@media (min-width: 1200px) {
    body {
        font-size: 0.8rem;
    }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        font-size: 0.8rem;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    body {
        font-size: 0.8rem;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    body {
        font-size: 0.6rem;
    }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
    body {
        font-size: 0.4rem;
    }
}

@font-face {
    font-family: myFont;
    src: url(fire.ttf);
}

@font-face {
    font-family: turFont;
    src: url(Turandot.ttf);
}

@font-face {
    font-family: fireFont;
    src: url(fire.ttf);
}

@font-face {
    font-family: kolegraphyFont;
    src: url(../font/Kolegraphy.ttf);
}

@font-face {
    font-family: konkordRetroFont;
    src: url(../font/Konkord-Retro.ttf);
    font-size: 1.5rem;
}

@font-face {
    font-family: aladinFont;
    src: url(../font/Aladdin.ttf);
}

@font-face {
    font-family: americanRetroFont;
    src: url(../font/American-Retro.ttf);
}

@font-face {
    font-family: andantinoFont;
    src: url(../font/Andantino-script.ttf);
}

@font-face {
    font-family: antikvarFont;
    src: url(../font/Antikvar_Shadow.ttf);
}

@font-face {
    font-family: cansellaristFont;
    src: url(../font/Cansellarist.ttf);
}

@font-face {
    font-family: mixaFont;
    src: url(../font/Mixa_Extra_Light_Demo.ttf);
}

@font-face {
    font-family: ownHandFont;
    src: url(../font/OwnHand.ttf);
}

@font-face {
    font-family: panforteFont;
    src: url(../font/Panforte_Pro.ttf);
}
