body {
    background-color: black;
    color: #CC3300;
    font-size: 1rem;
    font-family: turFont;
}

a {
    color: black;
}

.root {
    box-shadow: 0 0 15px 2px #CC3300, 0 0 40px 8px #3B0B0B;
    background-color: #151515;
    border-radius: 4px;
}

.button {
    color: black;
    font-size: 1rem;
    font-weight: 100;
}

input, select {
    font-weight: 100;
}

/* menu and sidebar */
.recept_menu_btn {
    background: linear-gradient(to right, #CC3300, #151515);
    text-align: left;
}

.recept_menu_btn:hover {
    background: linear-gradient(to right, #151515, #CC3300);
    text-align: right;
}

.recept_sidebar_btn {
    background: linear-gradient(to right, #151515, #CC3300);
    text-align: right;
}

.recept_sidebar_btn:hover {
    background: linear-gradient(to right, #CC3300, #151515);
    text-align: left;
}

.input_sidebar {
    background: linear-gradient(to right, #151515, black);
}


/* page navigation */
.page_button {
    color: #ec971f;
}

.page_button:hover {
    color: #985f0d;
}

/* recept description */
.recept_description {
    text-align: justify;
    color: #721E02;
    margin: 20px 0;
}

.recept_description_btn {
    text-align: center;
    background: linear-gradient(to right, #151515, #CC3300 50%, #151515);
}

/* recept edit */

input, select {
    background: linear-gradient(to right, black, #151515);
    color: #CC3300;
    font-family: turFont;
}

select > option {
    background-color: black;
    color: #CC3300;
    font-family: turFont;
}

textarea {
    background-color: #151515;
    font-family: turFont;
    color: #CC3300;
}

textarea:focus, select:focus, input:focus {
    background-color: black;
    color: #ec971f;
}

.icon-up {
    background-image: url(/frontend/pictures/arrowup.png);
}

.icon-ok {
    background-image: url(/frontend/pictures/ok.png);
}

.icon-remove {
    background-image: url(/frontend/pictures/remove.png);
}

.icon-edit {
    background-image: url(/frontend/pictures/edit.png);
}


/* Overriding of autocomplete */
.easy-autocomplete {
    display: inline-block;
    width: 100% !important;
}

.easy-autocomplete input {
    border: none;
    box-shadow: none;
    color: #ec971f;
    padding: 4px 4px 4px 10px;
}

.easy-autocomplete-container ul {
    border: none;
    background-color: #151515;
    opacity: 0.7;
}

.easy-autocomplete-container ul li.selected {
    background-color: black;
}

.easy-autocomplete-container ul li {
    border: none;
}

.recept_error {
    background-color: #FA5858;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}

/* drop-down */
.drop-down {
    background-color: #151515;
    color: #ec971f;
}

.drop-down > li:hover {
    background-color: black;
}