<table>
    <tr>
        <td>
            <select ng-model="ingridientsCtrl.ingridientId" convert-to-number>
                <option ng-repeat="ing in ingridientsCtrl.ingridients" value="{{ing.id}}">{{ing.name}}</option>
            </select>
        </td>
        <td>&nbsp&nbsp</td>
        <td>
            <div class="icon_button_small icon-remove"
                    ng-disabled="!ingridientsCtrl.ingridientId"
                    ng-click="ingridientsCtrl.deleteIngridient()">
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <input type="text" ng-model="ingridientsCtrl.ingridient.name" auto-complete="ing_suggest.req"/>
        </td>
        <td>&nbsp&nbsp</td>
        <td>
            <div ng-click="ingridientsCtrl.saveIngridient()" class="icon_button_small icon-ok"></div>
        </td>
    </tr>
</table>

<div class="recept_error" ng-if="ingridientsCtrl.error"
     ng-bind="ingridientsCtrl.error"></div>

