<div ng-show="receptEditCtrl.mainInformationVisible">
    <recept-main-information
            recept-id="receptEditCtrl.receptId"
            model="receptEditCtrl.model"
            below-content-visible="receptEditCtrl.belowContentVisible"/>
</div>

<div ng-show="receptEditCtrl.belowContentVisible">

    <div class="icon_button icon-up" ng-show="receptEditCtrl.mainInformationVisible"
         ng-click="receptEditCtrl.hideMainInformation()">
    </div>
    <div class="button recept_description_btn" ng-show="!receptEditCtrl.mainInformationVisible"
         ng-click="receptEditCtrl.openMainInformation()">
        Основное
    </div>

    <div ng-show="receptEditCtrl.proportionVisible">
        <recept-proportions
                recept-id="receptEditCtrl.receptId"
                model="receptEditCtrl.model"/>
    </div>

    <div class="icon_button icon-up" ng-show="receptEditCtrl.proportionVisible"
         ng-click="receptEditCtrl.hideProportions()">
    </div>
    <div class="button recept_description_btn" ng-show="!receptEditCtrl.proportionVisible"
         ng-click="receptEditCtrl.openProportions()">
        Пропорции
    </div>

    <div ng-show="receptEditCtrl.detailsVisible">
        <recept-details
                recept-id="receptEditCtrl.receptId"
                model="receptEditCtrl.model"/>
    </div>

    <div class="icon_button icon-up" ng-show="receptEditCtrl.detailsVisible"
         ng-click="receptEditCtrl.hideDetails()">
    </div>
    <div class="button recept_description_btn" ng-show="!receptEditCtrl.detailsVisible"
         ng-click="receptEditCtrl.openDetails()">
        Детали
    </div>

    <div ng-show="receptEditCtrl.referencesVisible">
        <recept-references
                recept-id="receptEditCtrl.receptId"
                model="receptEditCtrl.model"/>
    </div>

    <div class="icon_button icon-up" ng-show="receptEditCtrl.referencesVisible"
         ng-click="receptEditCtrl.hideReferences()">
    </div>
    <div class="button recept_description_btn" ng-show="!receptEditCtrl.referencesVisible"
         ng-click="receptEditCtrl.openReferences()">
        Ссылки
    </div>


    <div ng-show="receptEditCtrl.tagsVisible">
        <recept-tags
                recept-id="receptEditCtrl.receptId"
                model="receptEditCtrl.model"/>
    </div>

    <div class="icon_button icon-up" ng-show="receptEditCtrl.tagsVisible"
         ng-click="receptEditCtrl.hideTags()">
    </div>


    <div class="button recept_description_btn" ng-show="!receptEditCtrl.tagsVisible"
         ng-click="receptEditCtrl.openTags()">
        Тэги
    </div>

    <div ng-click="receptEditCtrl.finish()" class="icon_button icon-ok"></div>

</div>