<div ng-repeat="depart in menuCtrl.departs| orderBy : 'id'">
    <div class="button recept_menu_btn" ng-click="menuCtrl.chooseDepart(depart.id)"
         ng-bind="depart.name"></div>
</div>

<div class="button recept_menu_btn" ng-click="menuCtrl.chooseDepart(-1)">Все</div>

<div ng-repeat="tag in menuCtrl.tags| orderBy : 'id'">
    <div class="button recept_menu_btn" ng-click="menuCtrl.chooseTag(tag.id)"
         ng-bind="tag.name"></div>
</div>

<!--<div drop-down="themes" handler="setTheme" ctrl="menuCtrl">-->
    <!--<input readonly="readonly" value="{{menuCtrl.themes.fire}}"/>-->
    <!--<ul class="drop-down"></ul>-->
<!--</div>-->

