<div class="button recept_sidebar_btn"
     ng-click="sidebarCtrl.createRecept()">
    Новый рецепт
</div>

<div class="button recept_sidebar_btn"
     ng-click="sidebarCtrl.editIngridients()">
    Ингридиенты
</div>

<div class="button recept_sidebar_btn" ng-show="sidebarCtrl.isUploadXmlMode()">
    <label class="import_file">
        <input file-model="sidebarCtrl.file" type="file" accept="application/xml"/>
        <span>Загрузить XML</span>
        <span ng-bind="sidebarCtrl.file.name"></span>
    </label>
</div>
<div class="button recept_sidebar_btn"
     ng-show="!sidebarCtrl.isUploadXmlMode()"
     ng-click="sidebarCtrl.parseFile()">
    парсить
</div>

<input class="input_sidebar" placeholder="Поиск" ng-model="sidebarCtrl.query">

<div drop-down="sidebarCtrl.sortingOptions" handler="sidebarCtrl.setSorting">
    <input readonly="readonly" placeholder="Сортировка" class="input_sidebar"/>
    <ul class="drop-down"></ul>
</div>

<div drop-down="sidebarCtrl.themes" handler="sidebarCtrl.setTheme">
    <input readonly="readonly" value="{{sidebarCtrl.themes.fire}}" class="input_sidebar"/>
    <ul class="drop-down"></ul>
</div>

<div drop-down="sidebarCtrl.fonts" font-select="sidebarCtrl.fonts">
    <input readonly="readonly" class="input_sidebar"/>
    <ul class="drop-down"></ul>
</div>

<input ng-model="sidebarCtrl.itemsPerPage" class="input_sidebar">


<div class="recept_error" recept-error ng-if="sidebarCtrl.error"
     ng-bind="sidebarCtrl.error"></div>
