<table>
    <tr ng-repeat="ref in receptReferencesCtrl.model.references">
        <td><span ng-bind="ref.receptReferenceName"></span></td>
        <td>&nbsp&nbsp</td>
        <td>
            <div class="icon_button_small icon-remove" ng-click="receptReferencesCtrl.deleteReference(ref.id)"></div>
        </td>
    </tr>

    <tr>
        <td>
            <input ng-model="receptReferencesCtrl.reference.receptReferenceName" auto-complete="ref_suggest.req"
                   ng-blur="receptReferencesCtrl.chooseReference()"/>
        </td>
        <td>&nbsp&nbsp</td>
        <td>
            <div ng-click="receptReferencesCtrl.saveReference()" class="icon_button_small icon-ok"></div>
        </td>
    </tr>
</table>
