<table>
    <tr ng-repeat="prop in receptProportionsCtrl.model.proportions">
        <td><span ng-bind="prop.ingridient.name"></span>&nbsp&nbsp</td>
        <td><input ng-model="prop.norma"/></td>
        <td>&nbsp&nbsp</td>
        <td>
            <div class="icon_button_small icon-ok" ng-click="receptProportionsCtrl.updateProportion(prop.id)"></div>
        </td>
        <td>&nbsp&nbsp</td>
        <td>
            <div class="icon_button_small icon-remove" ng-click="receptProportionsCtrl.deleteProportion(prop.id)"></div>
        </td>
    </tr>

    <tr>
        <td>
            <input ng-model="receptProportionsCtrl.proportion.ingridient.name" auto-complete="ing_suggest.req"
                   ng-blur="receptProportionsCtrl.chooseIngridient()"/>&nbsp&nbsp
        </td>
        <td>
            <input type="text" ng-model="receptProportionsCtrl.proportion.norma"/>
        </td>
        <td>&nbsp&nbsp</td>
        <td>
            <div class="icon_button_small icon-ok" ng-click="receptProportionsCtrl.saveProportion()"></div>
        </td>
        <td></td>
        <td></td>
    </tr>
</table>

