<table>
    <tr ng-repeat="tag in receptTagsCtrl.model.tags">
        <td><span ng-bind="tag.name"></span></td>
        <td>&nbsp&nbsp</td>
        <td>
            <div class="icon_button_small icon-remove" ng-click="receptTagsCtrl.deleteTag(tag.id)"></div>
        </td>
    </tr>

    <tr>
        <td>
            <select ng-model="receptTagsCtrl.tagId" convert-to-number>
                <option ng-repeat="tag in receptTagsCtrl.tags" value="{{tag.id}}">{{tag.name}}</option>
            </select>
        </td>
        <td>&nbsp&nbsp</td>
        <td>
            <div ng-click="receptTagsCtrl.saveTag()" class="icon_button_small icon-ok"></div>
        </td>
    </tr>
</table>