<input class="recept_edit" placeholder="Новое название" type="text" ng-model="receptMainInformationCtrl.model.name"/>

<select class="recept_edit" ng-model="receptMainInformationCtrl.model.departId.id" convert-to-number>
    <option ng-repeat="depart in receptMainInformationCtrl.departs" value="{{depart.id}}">{{depart.name}}</option>
</select>

<img class="img" id="photo" ng-src="{{receptMainInformationCtrl.file}}"/>

<label class="import_file">
    <input file-model="receptMainInformationCtrl.foto" type="file"
           accept="image/png"/>
    <span>Новое фото &nbsp;</span>
    <span ng-bind="receptMainInformationCtrl.foto.name"></span>
</label>

<recept-text text="receptMainInformationCtrl.model.text"></recept-text>
<!--<textarea ng-model="receptMainInformationCtrl.model.text"></textarea>-->

<div class="button recept_description_btn"
     ng-show="receptMainInformationCtrl.isSaveMainInfoVisible() && !receptMainInformationCtrl.belowContentVisible"
     ng-click="receptMainInformationCtrl.saveMainInfo()">Сохранить
</div>

<div class="recept_error" ng-show="receptMainInformationCtrl.error"
     ng-bind="receptMainInformationCtrl.error"></div>

<div class="button recept_description_btn" ng-show="receptMainInformationCtrl.belowContentVisible"
     ng-click="receptMainInformationCtrl.saveMainInfo()">Изменить
</div>