<table>
    <tr ng-repeat="detail in receptDetailsCtrl.model.details">
        <td><img class="img_small" ng-src="{{detail.file}}"></td>
        <td>&nbsp&nbsp</td>
        <td><input type="text" ng-model="detail.description"/></td>
        <td>&nbsp&nbsp</td>
        <td>
            <div ng-click="receptDetailsCtrl.updateDetail(detail.id)" class="icon_button_small icon-ok"></div>
        </td>
        <td>&nbsp&nbsp</td>
        <td>
            <div ng-click="receptDetailsCtrl.deleteDetail(detail.id)" class="icon_button_small icon-remove"></div>
        </td>
    </tr>

    <tr>
        <td>
            <label class="import_file">
                <input file-model="receptDetailsCtrl.foto" type="file" accept="image/png"/>
                <span>Файл</span>
                <div ng-bind="receptDetailsCtrl.foto.name"></div>
            </label>
        </td>
        <td>&nbsp&nbsp</td>
        <td>
            <input ng-model="receptDetailsCtrl.detail.description" type="text"/>
        </td>
        <td>&nbsp&nbsp</td>
        <td>
            <div ng-click="receptDetailsCtrl.saveDetail()" class="icon_button_small icon-ok"></div>
        </td>
        <td></td>
        <td></td>
    </tr>
</table>
