<!--<div ng-click="receptTextCtrl.wrapP()">P</div>-->
<!--<div ng-click="receptTextCtrl.wrapB()">B</div>-->
<!--<div ng-click="receptTextCtrl.clear()">clear tags</div>-->
<textarea ng-model="receptTextCtrl.text" id="text" ng-blur="receptTextCtrl.formattedText()" ></textarea>
<!--<div id="formatted"></div>-->