<!DOCTYPE html>
<html lang="ru" ng-app="app" ng-controller="headController">
<head>
    <title>Книга рецептов</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/frontend/bin/app.bundle.js" charset="utf-8"></script>

    <link rel="stylesheet" href="/frontend/node_modules/easy-autocomplete/dist/easy-autocomplete.min.css">

    <link href="/frontend/css/app.css" rel="stylesheet">
    <link ng-href="/frontend/css/{{theme}}.css" rel="stylesheet">
</head>

<body>
    <main theme="theme"/>
</body>

</html>
